<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<a href="https://sistemasdeinformacao.espm.edu.br" target="_blank">
				<small>Desenvolvido em 2024 pelo curso de Sistemas de Informação da ESPM</small>
				<br/>
				<img src="<%- staticRoot %>/img/logo-si-512.png" style="width: 100%; max-width: 150px;" />
			</a>
		</div>
	</div>
</footer>
